.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(21, 21, 22, 0.3),
      rgba(21, 21, 22, 0.3)
    ),
    url(../Images/island_backdrop.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
}

.search-bar {
  margin-top: 5%;
  margin-left: 37%;
  width: 100%;
  max-width: 500px;
  background: rgba(245, 237, 237, 0.5);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 10px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 35px;
  font-size: 15px;
}

.highlight {
  background-color: chartreuse;
}

.faq {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
}

.question {
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  font-size: 20px;
}

.answer {
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  font-size: 20px;
  margin-left: 2%;
}

.question,
.answer {
  line-height: 2;
}

