body,
html {
  height: 100%;
}

.page {
  background-image: url(../Images/accomodations\ 1.jpg);
}

.details {
  margin: 10% 7%;
  padding: 0;
}

.box {
  background-color: linear-gradient(180deg, rgb(241, 208, 179), #ffffff);
  width: 35%;
  box-shadow: 10px 25px 30px rgba(13, 13, 19, 0.3);
}
p {
  padding: 0.5em;
  margin-top: 0.5%;
  line-height: 1.5;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

/*.page {
  height: auto;
  width: 100%;
  background-image: url(../Images/accomodations\ 1.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  transition: 100s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}*/

@keyframes animate {
  0% {
    background-image: url(../Images/BB\ 1.jpg);
  }
  20% {
    background-image: url(../Images/accomodations\ 2.jpg);
  }
  40% {
    background-image: url(../Images/hotel\ 1.jpg);
  }
  60% {
    background-image: url(../Images/accomodations\ 3.jpg);
  }
  80% {
    background-image: url(../Images/accomodations\ 1.jpg);
  }
  100% {
    background-image: url(../Images/BB\ 1.jpg);
  }
}

/*.slideshow {
  width: 90vmin;
  position: absolute;
  transform: translate(-50%-50%);
  top: 30%;
  left: 45%;
  overflow: hidden;
  border: 10px solid rgb(75, 36, 1);
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(13, 13, 19, 0.3);
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 20s infinite;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}*/

/*@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}*/
