* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  background-size: 120rem;
  background-image: linear-gradient(
      rgba(21, 21, 22, 0.5),
      rgba(21, 21, 22, 0.5)
    ),
    url(../Images/beach.jpg);
}

.title {
  text-align: center;
  margin-top: 1%;
  font-size: 120px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
}

.main-nav {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-nav li {
  display: inline-block;
  padding-inline: 40px;
  margin-top: 40px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  font-size: 25px;
}

.main-nav li a {
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
}

.main-nav li:hover {
  border-color: rgb(241, 208, 179);
  border-style: ridge;
  border-width: 5px;
  border-radius: 15%;
}

.active {
  border-color: rgb(241, 208, 179);
  border-style: groove;
  border-width: 5px;
  border-radius: 15%;
}

p {
  font-size: 25px;
  text-align: center;
  line-height: 2;
  display: block;
  width: 600px;
  margin-left: 9%;
  margin-top: 7%;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
}

#home-statement {
  text-align: center;
  font-style: italic;
  width: 500px;
  margin-left: 10%;
  margin-top: 50px;
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
}

