* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  background-image: linear-gradient(rgb(202, 236, 247), #ffffff);
  background-repeat: no-repeat;
}

.title {
  margin-top: 2%;
  font-size: 35px;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
}

.navbox {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbox li {
  display: inline-block;
  padding-inline: 40px;
  margin-top: 40px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  font-size: 20px;
}

.navbox li a {
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
}

.navbox li:hover {
  border-color: rgb(241, 208, 179);
  border-style: ridge;
  border-width: 5px;
  border-radius: 15%;
}

.active {
  border-color: rgb(241, 208, 179);
  border-style: groove;
  border-width: 5px;
  border-radius: 15%;
}

