.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(239, 240, 245, 0.7),
      rgba(226, 228, 238, 0.7)
    ),
    url(../Images/island_backdrop.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
}

.search-bar {
  margin-top: 5%;
  margin-left: 37%;
  width: 100%;
  max-width: 500px;
  background: rgba(34, 34, 34, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 10px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 5px;
  font-size: 15px;
}

.faq {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
}

.question {
  font-size: 20px;
  font-weight: bold;
}

.answer {
  font-size: 20px;
  font-style: normal;
  margin-left: 2%;
}

.question,
.answer {
  line-height: 2;
}
